{% extends "layout.html" %}

{% block content %}
{% for entry in entries %}
    {% include "blogpost.html" %}
{% endfor %}
{% endblock %}

{% block sidebar %}
{{ super() }}
<section id="pagelist">
    <header>
        <h1>Current Page: {{ cur_page }} of {{ num_pages }}</h1>
    </header>
    <p class="center">
    {% if cur_page > 1 %}<a href="{{request.baseurl}}?page={{cur_page - 1}}">Prev</a>{% endif %}
    {% if cur_page < num_pages %}<a href="{{request.path}}?page={{cur_page + 1}}">Next</a>{% endif %}
    </p>
</section>
{% endblock %}
