{% extends "layout.html" %}

{% block pageheading %}
<header><h1>About Me</h1></header>
{% endblock %}

{% block sidebar %}
{{ super() }}
<section>
    <header><h1>Recent Announcements</h1></header>
    <ul>
        {% for entry in news %}
        <li><a href="{{url_for('blog')}}post/{{entry.slug}}">{{entry.title}}</a></li>
        {% endfor %}
    </ul>
</section>
<section>
    <header><h1>Other Blog Posts</h1></header>
    <ul>
        {% for entry in other %}
        <li><a href="{{url_for('blog')}}post/{{entry.slug}}">{{entry.title}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block content %}
<section>
    <header><h1>My Background</h1></header>
    <p>My background is in Mathematics -- specifically combinatorics and probability, specializing in the study of random graphs.  I received my PhD from The Ohio State University in August 2013, under the direction of Prof. Boris Pittel.</p>

    <p>In addition to mathematics, I have always loved programming; I have considerable experience doing so for system task automation, web development, scientific programming/simulation, and recreation.  My current go-to language is Python.</p>
</section>

<section>
    <header><h1>My Current Role</h1></header>
    <p>I have accepted a position as an Insight Fellow at <a href="http://insightdatascience.com">Insight Data Science</a> starting June 2nd, 2014. Insight is a six-week program that takes science PhDs and prepares them for careers as Data Scientists in the technology industry.</p>
    <p>During the program, I will be completing a data project, networking, and preparing for interviews; afterward, I will be matched up with interviews in Silicon Valley!  This is a very exciting opportunity for me.</p>
</section>

<section>
    <header><h1>Job Experience</h1></header>
    <section>
        <header>
            <h1>Lecturer in Mathematics, The Ohio State University</h1>
            <p>August 2013 - April 2014</p>
        </header>
    <p>Taught six sections: Precalculus, Multivariable Calculus (x2), Multivariable Calculus for Honors Engineers (x2), and Combinatorics.</p>
    </section>

    <section>
        <header>
            <h1>Graduate Teaching Associate, The Ohio State University</h1>
            <p>June 2007 - August 2013</p>
        </header>
        <p>Taught lectures/recitation sections of courses (primarily in the calculus sequence).</p>
    </section>

    <section>
        <header>
            <h1>Math Lab Coordinator / Web App Developer, Michigan Tech Mathematics</h1>
            <p>April 2005 - May 2007</p>
        </header>
        <p>Helped to manage the day-to-day operations of the Mathematics Labs, including coordinating TA's and maintaining computer systems. Developed web applications (PHP/MySQL) for the lab and department, including lab time clock/scheduling, a department directory, and a system through which students could download personalized Mathematica labs with a barcode; TA's could then use the barcode to issue receipts and grades.</p>
    </section>
</section>
{% endblock %}
