/* General-purpose definitions */

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10pt;
    overflow-y: scroll;
}

p
{
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

a
{
    color: #000000;
}

body {
    background: #cccccc;
}

#wrapper
{
    width: 850px;
    margin: 20px auto 0 auto;
    padding: 0;
}

#main
{
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
}


/* Header */

#wrapper>header
{
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    border: 2px outset #777777;
    margin-bottom: 5px;

    color: #ffffff;
    background: #000066;
}

#wrapper>header>h1
{
    margin: 0;
    padding: 5px 10px;

    font-size: 24pt;
    font-weight: 400;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#wrapper>header>p
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline;
    margin: 0 0 0 0;
    padding: 0;
    
    font-size: 9pt;
    font-weight: 400;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Navbar */

#wrapper>nav
{
    clear: both;
    margin: 0;
    border: 2px outset #777777;
    height: 26px;
    background: #f8f8f8; 
    color: #000066;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
}

#wrapper>nav h1
{
    font-size: 9pt;
    position: absolute;
    width: 65px;
    left: 10px;
    bottom: 5px;
    font-weight: 400;
}

#wrapper>nav h1:after
{
    content: ':';
}

#wrapper>nav ul
{
    margin: 0 0 0 85px;
    padding: 0;
    border-radius: inherit;
    list-style: none;
    float: left;
}

#wrapper>nav ul li
{
    display: block;
    float: left;
    margin: 0;
    position: relative;
}

#wrapper>nav ul li a
{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    width: 65px;

    color: #000066;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#wrapper>nav ul li a.selected
{
    font-weight: 700;
}

#wrapper>nav ul li a:hover, #wrapper>nav ul li a.selected
{
    padding-bottom: 3px;
    border-bottom: 3px solid #000066;
}


/* General-purpose styles for main div */

#main header
{
    position: relative;
    background: #000066;
    color: #ffffff;
    padding: 0;
}

#main header p, #main header time
{
    position: absolute;
    right: 10px;
    bottom: 36px;
    font-size: 8pt;
}

#main header h1
{
    font-weight: 400;
    font-size: 12pt;
    padding: 5px 10px;
    border-top: 1px outset #777777;
    border-bottom: 1px outset #777777;
}

#main h2
{
    font-size: 10pt;
    font-weight: 400;
    color: #000066;
    padding: 5px 15px;
    margin-top: 10px;
    float: left;
}

#main p
{
    margin-top: 10px;
    padding: 5px 15px;
}


/* Sidebar */

#main>aside
{
    background: #ffffff;
    width: 250px;
    margin: 0;
    float: left;
    border-radius: 5px;
    border: 2px outset #777777;
    min-height: 550px;
}

#main>aside dl
{
    padding: 10px 10px 0px 10px;
}

#main>aside dt
{
    clear: left;
    float: left;
    margin-bottom: 10px;
    width: 55px;
}

#main>aside dt:after
{
    content: ':'
}

#main>aside dd
{
    margin: 0 0 10px 65px;
    padding: 0;
}

#main>aside dd ul
{
    padding: 0;
    
    list-style-type: none;
}

#main>aside dd ul li
{
    margin-bottom: 5px;
}

#me
{
    text-align: center;
}

#me img
{
    width: 140px;
    margin-bottom: 5px;
    margin-top: 15px;
    
    border: 1px solid #000066;
}


#main>aside dl
{

}

/* Main content */

#content
{
    margin-left: 260px;
    background: #ffffff;
    border-radius: 5px;
    border: 2px outset #777777;
    min-height: 550px;
}

#content>section nav, #content>article nav
{
    background: #f8f8f8; 
    color: #333333;
    margin: 0 0 0 0;
    padding: 0;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    font-size: 8pt;
}

#content>section nav a, #content>article nav a
{
    color: #333333;
}

#content section+section, #content article+article
{
    margin-top: 35px;
}

#content section nav ul, #content article nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 5px 10px;
}

#content section nav ul li, #content article nav ul li
{
    display: inline;
    padding: 0;
    margin: 0;
}

#content nav li+li:before
{
    content: ' | ';
}
/* Footer */

#wrapper>footer
{
    padding: 5px 10px 5px 10px;
    margin: 5px 0 0 0;
    border: 2px outset #777777;
    border-radius: 5px;
    background: #000066;
    color: #ffffff;
    text-align: center;
    clear: both;
}
